<h1>1. Nos premières variables </h1>

Les concepts vus durant la présentation
- comprendre ce qu'est une variable <br>
- Les premiers types de variables
- les règles de nommage d'une variable
- la modification possible d'une variable déjà déclarée

Nous allons maintenant voir cela dans la pratique !

<b> Déclaration de notre première variable </b>

In [32]:
var1 = 'paris'
va2= 14
v3= [5,6,9,6]

va2

14

les variables déclarées sont accessibles depuis d’autres cellules

In [34]:
var1

'paris'

<b> Modification possible d'une variable déjà déclarée, en utilisant à nouveau le signe "="

In [36]:
print(var1)
var1='toulouse'
print(var1)

paris
toulouse

<b>Attention, le nom de la variable est Case sensitive</b>

In [38]:
print(Var1)

NameError: name 'Var1' is not defined

<b>Souvenez-vous des règles de nommage d'une variable Python

In [40]:
1var = 2

SyntaxError: invalid decimal literal (4291874890.py, line 1)

<b>Attention, il faut d'abord déclarer sa variable avant de pouvoir l'utiliser

In [46]:
var10 = 2
print(var10)

2

<b>Il est possible de déclarer plusieurs variables en une seule fois

In [56]:
a,b,c = 0,'lille',[2,3]
c
print(b)

lille

<H1>2. Les types de variables </H1>

Les types des variables vont changer la manière dont python va comprendre la nature de l’information stockée et permettre certaines actions (ou en bloquer d'autres). Souvenez-vous de ce qui avait été vu lors de l'introduction (str, int, float, bool)

Premier exemple ici, avec une tentative d'addition

il est possible de se rendre compte de cette différence, en vérifiant le type de la variable (via la méthode type())

<H1>3. Les chiffres et les opérateurs mathématiques</H1>

En Python, le type int, ou Integer représente des nombres entiers sans partie décimale, comme −2 ou 42

In [70]:
v1 = [12,545,545]
type(v1)

list

Le type float, quant à lui, est utilisé pour les nombres à virgule flottante, c'est-à-dire les nombres qui ont une partie décimale, comme −3.14 , 0.0 ou 2.71828. Attention le séparateur décimal en Python est un point (.) et non une vrigule

Python peut faire des calculs  via les opérateurs mathématiques classiques : 
- Addition (+): Additionne deux nombres.
- Soustraction (-): Soustrait deux nombres.
- Division (/): Divise le premier nombre par le second.
- Multiplication (*): Multiplie deux nombres.
- Division entière (//): Divise le premier nombre par le second et arrondit le résultat à l'entier inférieur.
- Opérations combinées (()) : Utilise des parenthèses pour la priorité des opérations et combine plusieurs opérateurs.
- Puissance (**): Élève le premier nombre à la puissance du second.
- Modulo (%): Donne le reste de la division du premier nombre par le second.

In [80]:
nb = (5//5)+54
nb

55

Il est possible d'utiliser directement des variables dans nos calcul.
Il est également possible d'effectuer un calcul en mixant des float et des int

<H1>4. Les strings et les opérateurs</H1>

Nous l'avons déjà utilisé plusieurs fois depuis le début du cours, les string permettent de stocker du texte dans une variable

<b>Gestion des apostrohpes<b>
    
Les strings doivent être déclarées via des apostrohpes (ou Quotes). 2 systèmes sont admis : 
 - Le simple quote : 'ma string'
 - Le double quote : "ma string"

In [84]:
v1 ='ma string'
print(v1)
print(type(v1))

ma string
<class 'str'>

Mais comment gérer le cas où votre string contient également des quotes ?

In [90]:
v2 ="l'etudiant"
v2

"l'etudiant"

Dans ce cas, il est possible d'échapper des caractères via un back slash \

In [92]:
v2 ='l\'etudiant'
v2

"l'etudiant"

Dans le cas où votre texte est trop long, il est possible de le placer sur plusieurs lignes : 
- Via un back slash \ en bout de ligne
- Via un triple quote

In [96]:
v2 ='''l'etudiant'''
v2

"l'etudiant"

<b>Manipuler une String</b>

Il est possible de selectionner chaque caractère d'une string, en indiquant sa position entre crochets.
Attention, en Python et comme dans d'autes langages informatiques, on commence à compter à partir de 0

In [98]:
v2

"l'etudiant"

Il est également possible de selectionner une partie de la string (aussi appelée substring)

In [106]:
v2[3:]

'tudiant'

<b> Modifier une string</b>

Une série de méthodes permettent de modifier une string ou de récupérer certaines informations. Les méthodes sont nombreuses, aussi nous allons ici surtout essayer de comprendre le concept plutôt que d'être exaustif : 
- len() permet d'obtenir le nombre de caractères dans une string
- lower() met la string en minuscule
- upper() met la string en mmajuscule
- strip() retire les espaces en début et fin de chaine
- replace() remplace une substring par une autre
- split() retourne une liste d'éléments à partir d'une chaine

In [130]:
len(v2)
v2.upper()
v2.lower()
v9="    dsnfisdifsdf   "
v9.strip()
v9.strip().replace('dsnfisdifsdf','hhh').split('h')

['', '', '', '']

<b>La concaténation de valeurs</b>

En Python, il est possible de concaténer plusieurs variables entre elles ou avec une chaine de caractères
Il existe de nombreuses manières de faire des concaténations, nous allons voir ensemble les 2 plus populaires.

La première méthode, avec l'opérateur "+".

In [136]:
v1 = 'azerty'
v2  = 'abc'
v3 = v2+v2
v3

'azertyabc'

La deuxième méthodes, avec les Literrals

In [142]:
v2= 'paris'

v3 = f"je suis sur {v2}"
print(v3)

je suis sur paris

Pour information, il est également possible de multiplier un caractère X fois dans une string

In [148]:
v3='pari'+('s'*10)
v3

'parissssssssss'

<h1>6. Vérifier et modifier le type d’une variable</H1>

Dans certains cas, le type d'une variable peut nous poser problème pour le reste de notre code

In [150]:
c= 'dqsdqsdqd' + 1.3

TypeError: can only concatenate str (not "float") to str

Pour rappel, il est possible de verifier le type d’une variable via la méthode type

Il est également possible de modifier le type d'une variable

In [152]:
c= 'dqsdqsdqd' + str(1.3)
c

'dqsdqsdqd1.3'

<h1>7. Maitrise de jupyter notebook 2 : execution du code à travers les cellules & commentaires</h1>

Lors de la modification d'une variable, c'est ça dernière valeur et son dernier type qui est conservé pour le reste du code

Il faut garder en tête qu'une variable peut être modifié dans plusieurs cellules. Ainsi, c'est la dernière cellule executée qui définie la valeur de la variable

Pour vous aider à vous souvenir du contenu de votre code, ou pour expliquer votre code à quelqu'un, il est important de commenter votre code. il existe 2 types de commentaires : 
- Les commentaires via #, s'écrivant sur une ligne
- Les commentaires via les ''', s'écrivant sur une ou plusieurs lignes

In [ ]:
# commentaire
'''
commentaire 1
fonction 2 
'''